body {
    background-color:#4cb3b2;
    height: 100%;
}

.Onboarding {
    text-align: center;
    width: 50%;
    margin: auto;
    top: 50%;
}

.OnboardingContainer {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: 300px;
}

.MessageCircleContainer {
	display: flex;
    justify-content: center; /* align horizontal */
}

.SpeedMessage {
    background-color: #ffffff;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align child divs vertical */
    font-family: "helvetica neue", sans-serif;
    font-size: 32px;
    color: #4cb3b2;
    height: 300px;
    margin-top: 50%;
}

.MessageCircle {
	display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    border-radius: 50%; /* Circular */
    height: 70px;
    width: 70px;
    margin-top: 16px;
    background-color: #ffffff;
    font-family: "helvetica neue", sans-serif;
    color: #4cb3b2
}

button {
    background-color:rgba(0,0,0,0.0); /* Transparent */
    border: none;
    color: #fafafa;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "helvetica neue", sans-serif;
}

input {
    color: #fafafa;
    text-align: center;
    font-size: 16px;
    font-family: "helvetica neue", sans-serif;
    background-color: rgba(0,0,0,0.0); /* Transparent */
    padding: 8px 8px;
    margin: 8px 8px;
    border: none;
}
